<header>
    <nav>
        <ul>
            <li>This</li>
            <li>Is</li>
            <li>My</li>
            <li>Navigation</li>
            <a href="/">
                <li>Home</li>
            </a>
            <a href="/danieldeutsch3">
                <li>Test</li>
            </a>
        </ul>
    </nav>
</header>