<% include partials/header %>
<% include partials/navigation %>
<main>
    <div>
        <ul>
            <% results.forEach((post) => { %>
                <li><%= post.name %></li>
            <% }) %>
        </ul>
    </div>
</main>
<% include partials/footer %>