<% include partials/header %>
<% include partials/navigation %>
<main>
    <div>
        <ul>
            <% results.forEach((post) => {
                var index = post.url.slice(post.url.indexOf('spells/') + 7);
            %>
            <li><a href="/index=<%= index %>"><%= post.name %></a></li>
            <% }) %>
        </ul>
    </div>
</main>
<% include partials/footer %>